.form-container {
	background-color: var(--white);
	box-shadow: 2px 2px 10px var(--box-shadow), -2px -2px 10px var(--box-shadow);
	width: 50% !important;
	margin: 50px auto !important;

	.form-heading {
		padding: 10px 0;
		background-color: var(--primary-color);
		color: var(--white);

		h3 {
			text-align: center;
		}
	}

	.reset-info {
		margin: 20px auto;

		p {
			text-align: center;
			color: var(--gray);
			margin-bottom: 0;
		}
	}

	.form-section {
		padding: 10px;

		.switch-link {
			float: right;
			color: var(--link-color);

			&:hover {
				color: var(--link-hover-color);
			}
		}
	}
}