.layout-container {
  display: flex;

  .left-section {
    position: fixed;
    top: 70px;
    left: 0;
    width: 20%;
  }

  .right-section {
    margin-left: 20%;
    width: 80%;
    padding: 20px;
    background-color: var(--portal-bg-color);
  }
}