.form-container {
	width: 80% !important;
	margin: 0 auto !important;

	.bid-form-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 2px solid var(--primary-color);
		margin: 30px auto !important;
	}

	.form-section {
		.btn-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 10px;
		}
	}
}

.form-section {
	.img-container {
		// display: flex;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 0.4rem;
		gap: 4rem;

		.img-box {
			img.logo-img {
				width: 200px;
				height: 150px;
				aspect-ratio: 2 / 1;
				padding: 2px;
				border: 2px solid var(--primary-color);
				margin: 10px;
			}
		}

		.img-suggestion {
			color: var(--gray);
			line-height: 15px;
			font-size: 13px;
			margin-bottom: 0;
		}
	}
}
