.dashboard-container {
	background-color: var(--white);
	box-shadow: 2px 2px 10px var(--box-shadow), -2px -2px 10px var(--box-shadow);
	width: 100% !important;
	margin: 0px auto !important;
	padding: 23px !important;
}

.custom-btn {
	float: right;
}
