.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
}
.award-button {
  background-color: var(--primary-color) !important;
}

.award-button:hover {
  background-color: var(--secondary-color) !important;
}

.loi-content {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
}
.loi-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.loi-table th,
.loi-table td {
  border: 1px solid #d6d1d1;
  padding: 8px;
  text-align: left;
}
.loi-table th {
  background-color: #f5f5f5;
}
.loi-table thead {
  background-color: var(--primary-color);
}

.custom-row > td {
  padding: 12px 16px;
}

.award-btn{
  background-color: var(--primary-color) !important;
}

.award-btn:hover{
  background-color: var(--secondary-color) !important;
}

#hammer-icon {
  transition: transform 0.2s ease-in-out;
}

.hammer-click {
  transform: rotate(-15deg) translateY(-5px);
}

