.addMember-fields {
  background-color: white !important;
}
.heading-with-lines {
  text-align: center;
  color: #062d72;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex: 1;
    border-bottom: 2px solid #062d72; // Line style
    margin-right: 10px; // Space between text and line
  }

  &::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #062d72; // Line style
    margin-left: 10px; // Space between text and line
  }
}
.addMember-btn {
  background-color: var(--primary-color) !important;

  &.addMember-btn:hover {
    background-color: var(--secondary-color) !important;
  }
}

.first_last_name_fields {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 16px; /* equivalent to mb: 2 (2 * 8px) */
  margin-top: 16px; /* equivalent to mt: 2 (2 * 8px) */
}

.email_mobile_role_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
