.blog-content {
	padding-top: 5%;
}
.blog-img {
	height: 380px;
	width: 100%;
}

@media screen and (max-width: 991px) {
	.blog-img {
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.blog-img {
		height: auto;
	}
}
@media screen and (max-width: 575px) {
	.blog-img {
		height: auto;
	}
}
@media screen and (max-width: 324px) {
	.blog-img {
		height: auto;
	}
}
