.address-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  margin: 30px auto !important;
  margin-bottom: 0 !important;
  align-items: center;
  flex-wrap: wrap;
}

.address-section h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.custom-accordion-summary {
  .accordion-header-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // CustomBadge.scss
  .billing-badge {
    font-weight: 500;
    font-size: 0.75rem;
    height: 20px;
    border-radius: 10px;
    padding: 0 6px;
    color: white;
    background-color: var(--primary-color); // same as MUI warning main color
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(8deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .delete-btn {
    position: absolute;
    right: 4px;
    padding: 4px;
    color: #555;
    transition: color 0.3s ease;

    &:hover {
      color: red;

      svg {
        animation: shake 0.4s ease-in-out;
      }
    }
  }
}

.address-section .btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

/* 📱 Responsive behavior for small screens */
@media screen and (max-width: 768px) {
  .address-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .address-section .btn-container {
    width: 100%;
    justify-content: center;
  }

  .address-section h4 {
    font-size: 1rem;
    align-items: center;
  }

  .btn-container .btn {
    width: 100%;
  }
}

.form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.form-check-input {
  width: 1.3rem;
  height: 1.3rem;
  appearance: none;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.3);
  }

  &:checked::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 9px;
    height: 0.5rem;
    background-color: #0d6efd;
    border-radius: 50%;
  }
}

.form-check-label {
  font-weight: 500;
  cursor: pointer;
  line-height: 1;
}
