.certificate-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  margin: 30px auto !important;
  margin-bottom: 0 !important;
}

.img-btn {
  text-align: center;
  .img-box {
    text-align: center !important;

    img.logo-img {
      width: 200px;
      height: 150px;
      aspect-ratio: 2 / 1;
      padding: 2px;
      border: 2px solid var(--primary-color);
    }
  }
}