.form-container {
	width: 80% !important;
	margin: 0 auto !important;

	&.cac-form-container{
		width: 90% !important;
	}

	.form-section {
		.img-container {
			display: flex;
			align-items: center;
			margin-top: 10px;
			margin-bottom: 0.4rem;
			gap: 4rem;

			.img-box {
				img.logo-img {
					width: 200px;
					height: 100px;
					aspect-ratio: 2 / 1;
					padding: 2px;
					border: 2px solid var(--primary-color);
				}
			}

			.img-suggestion {
				color: var(--gray);
				line-height: 15px;
				font-size: 13px;
				margin-bottom: 0;
			}
		}
	}
}