.form-container {
	width: 80% !important;
	margin: 0 auto !important;

	.form-heading {
		padding: 10px 0;
		align-items: center;
		font-size: 14px;

		p {
			text-align: center;
		}
	}
	.company-logo {
		border: 2px solid var(--primary-color);
		height: 80px;
	}

	.form-section {
		padding: 10px;
	}
	.custom-update {
		margin-left: 100%;
	}
	.custom-btn {
		float: right;
	}
	.custom-address {
		display: flex;
		border-bottom: 1px solid black;
		margin-top: 40px;
		padding: 10px;
	}
}
