.custom-navbar {
  background-color: var(--white);
  position: fixed !important;
  width: 100%;
  top: 0;
  box-shadow: 0 0 8px #00000080;
  z-index: 3;

  .logo-img {
    height: 60px;
  }

  .custom-toggle {
    border: none;

    .custom-icon {
      background: url(../../assets/images/website/home/toggle-icon.svg);
    }

    &:focus {
      outline: unset;
      box-shadow: none;
    }
  }

  .custom-navbar-collapse {
    justify-content: flex-end;
    align-items: center;

    .icon-container {
      display: flex;
      align-items: center;
      gap: 15px !important;
    }
  }
}

@media screen and (max-width: 575px) {
  .custom-navbar {
    .custom-navbar-collapse {
      .icon-container {
        flex-direction: column;
        align-items: flex-end; // Push to right
        margin-right: 5px;

        // Optional: spacing between text and icon
        > * {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-bottom: 8px;
        }

        // To make company logo and username visible together
        .company-logo,
        .user-wrapper {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}

// Custom Scrollbar for Novu Inbox
.novu-inbox {
  ::-webkit-scrollbar {
    width: 6px; // Slim width
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; // Light background
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; // Dark color for visibility
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; // Darker color on hover
  }
}

.company-logo {
  cursor: pointer;
  width: 45px;
  height: 45px;
  object-fit: contain; /* changed from 'cover' */
  padding: 1px;
  margin-bottom: 10px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid#555;

  @media (min-width: 600px) {
    margin-bottom: 0;
  }
}
