.custom-navbar {
	background-color: var(--white);
	position: fixed !important;
	width: 100%;
	top: 0;
	box-shadow: 0 0 8px #00000080;
	z-index: 3;

	.logo-img {
		height: 60px;
	}

	.custom-toggle {
		color: var(--primary-color);
		border: 1px solid var(--primary-color);

		.custom-icon {
			background: url(../../assets/images/home/toggle-icon.svg);
		}
	}

	.custom-navlink {
		color: var(--primary-color);
		&:hover {
			color: var(--secondary-color);
		}
	}

	.btn-container{
		display: flex;
		.header-btn {
			width: 100px;
			height: 35px;
			border: 1px solid var(--primary-color) !important;
			background: none;
			color: var(--primary-color) !important;
			display: flex;
			justify-content: center;
			align-items: center;
	
			&:hover {
				color: var(--secondary-color) !important;
				border: 1px solid var(--secondary-color) !important;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.custom-navbar{
		.logo-img {
			height: 40px;
		}

		.btn-container{
			margin-bottom: 10px;
		}
	}
}
