.paper-root {
  box-shadow: unset !important;

  .data-table {
    &::-webkit-scrollbar {
      width: 0.5rem !important;
      background-color: var(--portal-bg-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 10px;
      border: 3px solid var(--white);
    }

    &::-webkit-scrollbar-thumb::after {
      content: "Scroll";
      font-size: 12px;
      color: var(--white);
      text-align: center;
      margin-top: 2px;
      display: block;
    }
  }
}

.custom-table-pagination {
  p {
    margin-bottom: 0;
  }
}

.table-link {
  text-decoration: none;
  color: rgb(30, 157, 241);

  &.table-link:hover {
    text-decoration: underline;
  }
}

.portal-data-table {
  box-shadow: var(--glow-shadow);
  margin: 20px auto;
  border-radius: 5px;
}

.admin-data-table {
  box-shadow: 2.14px 2.14px 8.64px var(--box-shadow),
    -2.14px -2.14px 8.64px var(--box-shadow);
  border-radius: 5px;
}

.search-input-field {
  width: 40%;

  input {
    min-height: 40px;
    padding: 0 10px !important;
  }
}

.document-type {
  background-color: #00c8ff28;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 600;
}

.disabled-link {
  pointer-events: none; /* Disable clicking */
  color: grey;
  cursor: not-allowed;
  text-decoration: none;
}
