.paper-root {
  box-shadow: unset !important;
}

.custom-table-pagination {
  p {
    margin-bottom: 0;
  }
}

.table-link {
  text-decoration: none;
}

.bids-data-table {
  box-shadow: var(--glow-shadow);
  margin: 20px auto;
  border-radius: 5px;
}

.search-input-field {
  width: 40%;

  input {
    min-height: 40px;
    padding: 0 10px !important;
  }
}