.form-container {
  width: 80% !important;
  margin: 0 auto !important;

  .form-section {
    .documents-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--primary-color);
      margin: 30px auto !important;
      margin-bottom: 0 !important;
    }

    .img-drop-section {
      width: 100%;
      margin: 25px auto;
      margin-bottom: 5px;
      background-color: var(--white);
      border: 1px dashed var(--primary-color);
      border-radius: 5px;
      padding: 30px 50px;
      box-shadow: var(--glow-shadow);



      .img-drop-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .upload-icon {
          width: 60px;
        }

        p {
          margin-bottom: 0;
          color: var(--gray);
        }
      }
    }

    .image-preview {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
        display: block;
        overflow-y: auto;
      }
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}

.delete-btn {
  padding: 0;
}