.form-container {
  width: 80% !important;
  margin: 0 auto !important;
}

.bid-form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Align items properly */
  border-bottom: 2px solid var(--primary-color);
  margin: 30px auto !important;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

/* Stack vertically on smaller screens */
@media (max-width: 768px) {
  .btn-container {
    flex-direction: column; /* Stack vertically */
    align-items: stretch; /* Stretch buttons full width */
    width: 100%;
    gap: 10px;
  }

  .btn-container button {
    width: 100%; /* Full width button */
  }
}
