.col-heading {
	font-size: 15px;
	color: var(--admin-text-color-2);
}

.col-data {
	margin-bottom: 0;
	font-size: 14px;

	&.amendment-data {
		margin-left: 20px;
	}

	a {
		text-decoration: none;
	}
}

.bids-detail-accordion {
	box-shadow: var(--glow-shadow) !important;
}

.printable-accordion {
	box-shadow: unset !important;
	margin-top: 0 !important;
}

@media print {
	@page {
		margin: 10mm;
	}
}