@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.modal-container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;

  &:focus-visible {
    outline: none !important;
  }

  .modal-section{
    background-color: var(--white);
    width: 800px;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;

    .search-company-head{
      padding-bottom: 5px;
      border-bottom: 1px solid var(--secondary-color);
      text-align: left;
      color: var(--primary-color);
    }

    .search-company-table{
      text-align: left;
    }

    img{
      width: 80px;
    }

    .modal-title{
      font-family: "Bubblegum Sans", sans-serif;
    }

    .modal-desc{
      color: gray;
    }
  }
}