.terms_and_conditions{
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.terms_and_conditions:hover{
    text-decoration: underline;
}

.bidEndTime{
    padding: 1px;
    position: relative;
    border: 2px dashed black;
    padding: 10px;
}


