.place-bid-btn {
  margin-top: 16px; /* Equivalent to mt: 2 */
  padding: 8px 24px; /* px: 3 (24px) and py: 1 (8px) */
  background-color: var(--primary-color) !important;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold !important;
  border-radius: 15px !important;
}

.place-bid-btn:hover {
  background-color: var(--secondary-color) !important;
}

.countDown_timer {
  text-align: center;
  padding: 2px;
  width: 60px; /* Reduced width for medium size */
  height: 60px; /* Reduced height for medium size */
  border-radius: 50%;
  background-color: #cfdffc; /* Background color */
  border: 2px solid #062d72; /* Border */
  display: flex; /* Flexbox for alignment */
  flex-direction: column; /* Align children in a column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  margin-left: 5px;
}

.countDown_value {
  font-size: 16px; /* Adjust font size for medium size */
  color: var(--primary-color);
}

.countDown_label {
  font-size: 12px; /* Adjust font size for label */
  color: var(--primary-color);
}
