.Linker {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  &.Linker:hover {
    text-decoration: underline;
  }
}

.bidEndTime {
  padding: 1px;
  position: relative;
  border: 2px dashed black;
  padding: 10px;
}
