.place-bid-btn{
    background-color: var(--primary-color) !important;
}

.place-bid-btn:hover{
	background-color: var(--secondary-color) !important;
}

.product-name{
    color: var(--primary-color) !important;
}

.quantity{
    font-weight: bolder !important;
    color: var(--primary-color) !important;
}

.reserve-Bid{
    font-weight: bolder !important;
    color: var(--primary-color) !important;
}

.current-Bid{
    font-weight: bolder !important;
    color: var(--primary-color) !important;
}