#root {
	width: 100%;
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	overflow: visible !important;
	padding: 0 !important;
}

:root {
	--primary-color: #062d72;
	--admin-primary-color: #696969;
	--secondary-color: #05baee;
	--portal-bg-color: #F7FBFF;
	--admin-text-color-1: #555555;
	--admin-text-color-2: #A19D9D;
	--error: red;
	--pending: #FFC107;
	--success: #00c87d;
	--required: #ff3801;
	--white: #ffffff;
	--black: #000000;
	--gray: #999999;
	--link-color: #0D6EFD;
	--link-hover-color: #0A58CA;
	--box-shadow: #dddddd;
	--glow-shadow: 2.14px 2.14px 8.64px rgb(0 119 183 / 40%),
		-2.14px -2.14px 8.64px rgb(0 119 183 / 25%);
}

main {
	margin-top: 70px;
}

/* utilities */

.cursor {
	cursor: pointer;
}

.error {
	color: var(--error);
	font-size: 14px;
	margin-bottom: 10px;
}

em {
	color: var(--required);
}

.bullet-points {
	&:before {
		content: "";
		width: 12px;
		height: 12px;
		display: inline-block;
		background-color: var(--primary-color);
		margin-right: 18px;
		border: 1px solid var(--white);
		box-shadow: 2px 2px 2px var(--primary-color);
	}
}

// common button css
.button {
	background-color: var(--primary-color) !important;
	color: var(--white) !important;
	font-weight: 500 !important;
	padding: 0.3rem 2rem !important;
	transition: all 0.3s ease 0s !important;
	border: unset !important;


	&.disable {
		background-color: var(--gray) !important;

		&:hover {
			background-color: var(--gray) !important;
			color: var(--white) !important;
		}
	}

	&.pending {
		background-color: var(--pending) !important;
		color: var(--white) !important;

		
	}

	&.approve{
		background-color: var(--success) !important;

		&:hover {
			background-color: var(--white) !important;
			color: var(--success) !important;
			border: 1px solid var(--success);
		}
	}

	&.reject{
		background-color: var(--error) !important;

		&:hover {
			background-color: var(--white) !important;
			color: var(--error) !important;
			border: 1px solid var(--error);
		}
	}

	&:hover {
		background-color: var(--secondary-color) !important;
		color: var(--primary-color) !important;
		transform: translateY(-7px);
		box-shadow: 0px 5px 20px rgb(0 119 183 / 40%);
	}
}

// common accordion css
.custom-accordion{
	position: unset !important;
	box-shadow: 2px 2px 10px var(--box-shadow), -2px -2px 10px var(--box-shadow) !important;
	border-radius: 5px !important;
	margin: 20px auto;

	&.Mui-expanded{
		margin-top: 20px !important;
	}

	.custom-accordion-heading{
		font-weight: bold;
		letter-spacing: 0.2px;
		color: var(--admin-text-color-1);
		font-size: 18px;
	}

	.custom-divider{
		margin: 1rem 0 !important;
		opacity: unset;
		border-width: 1px !important;
	}
}

// common ck-editor css
.ck.ck-editor{
	box-shadow: var(--glow-shadow) !important;
	border: 1px solid var(--primary-color) !important;
	border-radius: 5px !important;
	margin-bottom: 0.1rem !important;
}

.ck-editor__editable {
	min-height: 200px !important;
	max-height: 350px !important;
}

.ck {
	&.ck-content {
		padding-left: 20px !important;
	}
}

.ck-content.ck-editor__editable.ck-editor__editable_inline {
	font-size: 14px;
	line-height: 1.3;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
	border-color: var(--primary-color) !important;
}

