#root {
	width: 100%;
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body{
	overflow: visible !important;
	padding: 0 !important;
}

:root {
	--primary-color: #062d72;
	--admin-primary-color: #696969;
	--secondary-color: #05baee;
	--portal-bg-color: #F7FBFF;
	--error: red;
	--success: #00c87d;
	--required: #ff3801;
	--white: #ffffff;
	--black: #000000;
	--gray: #999999;
	--box-shadow: #dddddd;
	--link-color: #0D6EFD;
	--link-hover-color: #0A58CA;
	--glow-shadow: 2.14px 2.14px 8.64px rgb(0 119 183 / 40%),
		-2.14px -2.14px 8.64px rgb(0 119 183 / 25%);
}

main{
	margin-top: 70px;
}

/* utilities */

.cursor {
	cursor: pointer;
}

.error {
	color: var(--error);
}

em {
	color: var(--required);
}

.bullet-points {
	&:before {
		content: "";
		width: 12px;
		height: 12px;
		display: inline-block;
		background-color: var(--primary-color);
		margin-right: 18px;
		border: 1px solid var(--white);
		box-shadow: 2px 2px 2px var(--primary-color);
	}
}

.button{
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  font-weight: 500 !important;
	padding: 0.3rem 2rem !important;

	&.disable{
		background-color: var(--gray) !important;

		&:hover{
			background-color: var(--gray) !important;
			color: var(--white) !important;
		}
	}

  &:hover{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
  }
}