.banner {
	border-bottom: 10px solid var(--secondary-color);

	.banner-img {
		height: 350px;
		width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.banner {
		border-bottom: 10px solid var(--secondary-color);

		.banner-img {
			height: 100%;
			width: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.banner {
		border-bottom: 10px solid var(--secondary-color);

		.banner-img {
			height: 100%;
			width: 100%;
		}
	}
}

@media screen and (max-width: 575px) {
	.banner {
		border-bottom: 10px solid var(--secondary-color);

		.banner-img {
			height: 100%;
			width: 100%;
		}
	}
}

@media screen and (max-width: 324px) {
	.banner {
		border-bottom: 10px solid var(--secondary-color);

		.banner-img {
			height: 100%;
			width: 100%;
			margin: 0px;
		}
	}
}
