.banner {
  .banner-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    .banner-img {
      height: 300px;
    }
  }
}

@media screen and (max-width: 480px) {
  .banner {
    .banner-img {
      height: 200px;
    }
  }
}
