.bidding-process-img {
	width: 150px;
	padding: 15px;
}
.step {
	background-color: #f50057;
	color: #ffffff;
	border: 2px solid #f50057;
	border-radius: 8px;
	text-align: center;
	width: 91px;
	margin: auto;
}
.box {
	// border: 2px solid #f50057;
	text-align: center;
	padding: 10px;
}
.content {
	padding-top: 10px;
}
.step2 {
	background-color: #f95a2f;
	color: #ffffff;
	border: 2px solid #f95a2f;
	border-radius: 8px;
	text-align: center;
	width: 91px;
	margin: auto;
}
.step3 {
	background-color: #00b0ff;
	color: #ffffff;
	border: 2px solid #00b0ff;
	border-radius: 8px;
	text-align: center;
	width: 91px;
	margin: auto;
}
.step4 {
	background-color: #00bfa6;
	color: #ffffff;
	border: 2px solid #00bfa6;
	border-radius: 8px;
	text-align: center;
	width: 91px;
	margin: auto;
}
.step5 {
	background-color: #6c63ff;
	color: #ffffff;
	border: 2px solid #6c63ff;
	border-radius: 8px;
	text-align: center;
	width: 91px;
	margin: auto;
}
