.image-section {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.upper-image {
		display: flex;
		gap: 10px;

		.gallery-image {
			width: 100%;

			img {
				border-radius: 15px;
				width: 100%;
			}
		}
	}

	.lower-image {
		img {
			border-radius: 15px;
			width: 100%;
		}
	}
}

@media screen and (max-width: 991px) {
	.content-column {
		margin-bottom: 20px;
	}


}