.procurement-img {
	width: 100%;
	height: 350px;
	border-radius: 15px;
}

@media screen and (min-width: 320px) {
	.procurement-img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 991px) {
	.content-column {
		margin-top: 3rem !important; 
	}
}