.supplier-portal-img {
	height: 350px;
	width: 100%;
}

@media screen and (min-width: 320px) {
	.supplier-portal-img {
		height: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.content-column {
		margin-top: 3rem !important; 
	}
}