.sidebar-container {
  background-color: var(--admin-primary-color);
  height: 100vh;

  .sidebar-items {
    position: fixed;
    width: 20%;

    .item-link {
      display: block;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: var(--white);
      padding: 0 15px; /* Add left and right padding */

      .sidebar-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        margin: 12px -2px; /* Add left and right margin */
      }

      &:hover {
        color: var(--admin-primary-color);

        .sidebar-item {
          background-color: var(--white);

          .item-icon {
            filter: invert(50%) sepia(0%) saturate(1744%) hue-rotate(172deg) brightness(95%) contrast(110%)
          }
        }
      }

      &.active {
        color: var(--admin-primary-color);

        .sidebar-item {
          background-color: var(--white);

          .item-icon {
            filter: invert(50%) sepia(0%) saturate(1744%) hue-rotate(172deg) brightness(95%) contrast(110%)
          }
        }
      }
    }
  }
}

/* Responsive view for mobile screens */
@media (max-width: 768px) {
  .sidebar-container {
    width: 85px; /* Shrink sidebar width on mobile */
  }

  .item-name {
    display: none; /* Hide item names on mobile */
  }

  .sidebar-item {
    justify-content: center; /* Center-align icons */
  }

  .item-icon {
    margin-right: 0; /* Remove margin for icons */
  }
}