.form-container {
  background-color: var(--white);
  box-shadow: 2px 2px 10px var(--box-shadow), -2px -2px 10px var(--box-shadow);
  width: 50% !important;
  margin: 50px auto !important;
  padding: 1rem; // Optional: adds spacing inside

  /* 📱 Make container wider and more natural on small screens */
  @media (max-width: 576px) {
    width: 90% !important;
    margin: 30px auto !important;
  }

  .form-heading {
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--white);

    h5 {
      text-align: center;
    }
  }

  .form-section {
    padding: 10px;

    .number-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 15px auto;
      gap: 1rem;

      .mobile-number {
        font-weight: 400;
      }
    }

    .otp-box {
      display: grid;
      grid-template-columns: repeat(4, 50px);
      justify-content: center;
      grid-gap: 2rem;
      max-width: 80%;
      margin: 2rem auto 0.5rem;

      .otp-field {
        text-align: center;
        width: 100%;
        padding: 0.8rem;
        border-radius: 5px;
        box-shadow: var(--glow-shadow);
        background-color: var(--white);
        border: 1px solid var(--primary-color);

        &:focus-visible {
          outline: 2px solid var(--primary-color);
          border: none;
        }
      }

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        max-width: 60%;
      }
    }

    .btn-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      button {
        width: 100%;
      }

      @media (max-width: 576px) {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
