.certificate-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  margin: 30px auto !important;
  margin-bottom: 0 !important;
}

.img-drop-section {
  width: 100%;
  margin: 25px auto;
  margin-bottom: 5px;
  background-color: var(--white);
  border: 1px dashed var(--primary-color);
  border-radius: 5px;
  padding: 30px 50px;


  .img-drop-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .upload-icon {
      width: 60px;
    }

    p{
      margin-bottom: 0;
      color: var(--gray);
    }
  }


}

.custom-upload-btn{
  margin: 10px 0; 
  float: right;
}